문제 1.
정수(int)로만 구성된 리스트를 입력으로 받고, 리스트의 메서드(method)를 활용하여 아래의
지시를 순서대로 따르는 함수 P1을 완성하세요.
1. 입력으로 받은 리스트를 오름차순으로 정렬
2. 리스트에서 1234 제거
3. [4321, 2222]를 추가하여 리스트를 확장(extend)
4. 1번 index 위치에 1111 추가 (주의: python의 index 규칙을 잘 확인할 것)

In [ ]:
from typing import List
def P1(num_list: List[int]) -> List[int]:
    num_list.sort()
    num_list.remove(1234)
    num_list.extend([4321, 2222])
    num_list.insert(1, 1111)
    return num_list

In [ ]:
P1([1234,1011,3124])

[1011, 1111, 3124, 4321, 2222]

In [ ]:
P1([7777,5555,8888,1234,9876])

[5555, 1111, 7777, 8888, 9876, 4321, 2222]

문제 2.
세 개의 리스트를 입력으로 받고, 가장 길이가 긴 리스트의 길이를 리턴하는 함수 P2를 작성하세요.

In [ ]:
def P2(L1: list, L2: list, L3: list) -> int:
    ans = 0
    ans += max(len(L1), len(L2), len(L3))
    return ans

In [ ]:
P2([1], [2, 3], [4, 5, 6])

3

In [ ]:
P2([10, 11, 12, 13], ['a'], [1.11])

4

문제 3.
정수로 구성된 리스트를 입력으로 받고 리스트 안의 값이 음수이면 양수로, 양수이면 음수로
변경하여 리턴하는 함수 P3를 작성하세요.

In [ ]:
from typing import List
def P3(num_list: List[int]) -> List[int]:
    ans_list = []
    for element in num_list:
      if element > 0 or element < 0:
        ans_list.append(-element)
      else : 
        ans_list.append(element)
    return ans_list

In [ ]:
P3([-1, 2])

[1, -2]

In [ ]:
P3([66, 0, -11])

[-66, 0, 11]

문제 4.
중첩 리스트(nested list)를 입력으로 받고, 아래 조건을 만족하는 리스트를 리턴하는 함수 P4를
작성하세요.

In [ ]:
from typing import List
def P4(word_num_list: List[list]) -> list:
    ans_list = []
    for element in word_num_list:
      ans_list.append(element[0])
    ans_list.sort()
    return ans_list

In [ ]:
P4([['apple', 5], ['banana', 6]])

['apple', 'banana']

In [ ]:
P4([['cup', 3], ['ace', 3], ['nice', 4], ['good', 4]])

['ace', 'cup', 'good', 'nice']

문제 5.
알파벳으로만 구성된 리스트를 입력으로 받고, 대문자가 처음으로 등장하는 index를 리턴하는
함수 P5을 작성하세요.

In [ ]:
from typing import List
def P5(alphabet_list: List[str]) -> int:
    idx = 0
    for alphabet in alphabet_list:
      if alphabet.isupper() == True:
        idx = alphabet_list.index(alphabet)
        break
      else : 
        idx = -1
    return idx

In [ ]:
P5(['a', 'B', 'c', 'D'])

1

In [ ]:
P5(['z', 'b', 'k', 'D', 'I', 'q'])

3

In [ ]:
P5(['a', 'b'])

-1

문제 6.
정수 2개를 입력으로 받고, 아래 조건을 만족하는 리스트를 리턴하는 함수 P6를 작성하세요.

In [ ]:
from typing import List
def P6(n1: int, n2: int) -> List[int]:
    ans_list = []
    if n1 != n2:
      for i in range(min(n1, n2), max(n1, n2)):
        ans_list.append(i)
      ans_list.append(max(n1, n2))
      ans_list.sort(reverse = True)
    else :
      ans_list.append(n1)
    return ans_list

In [ ]:
P6(3, 9)

[9, 8, 7, 6, 5, 4, 3]

In [ ]:
P6(2, -1)

[2, 1, 0, -1]

In [ ]:
P6(100, 100)

[100]

문제 7.
리스트를 입력으로 받고, 리스트의 각 원소에 1을 더한 후 리턴하는 함수 P7를 작성하세요.

In [ ]:
def P7(L1: list) -> list:
    ans_list = []
    for i in L1:
      ans_list.append(i+1)
    return ans_list

In [ ]:
P7([5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3])

[6, 5, 8, 4, 3, 4, 3, 7, 5, 3, 2, 8, 2, 4]

In [ ]:
P7([0, 0, 0])

[1, 1, 1]

문제 8.
숫자로 구성된 리스트를 입력으로 받고, 해당 리스트에서 음수만 제거하는 함수 P8를 작성하세요.

In [ ]:
from typing import List
def P8(num_list: List[float]):
    ans_list = []
    for i in num_list:
      if i >= 0:
        ans_list.append(i)
    return ans_list

In [ ]:
P8([1, 2, 3, -3, 6, -1, -3, 1])

[1, 2, 3, 6, 1]

In [ ]:
P8([-5, 1, -3, 2])

[1, 2]

문제 9.
중첩 리스트(nested list)를 입력으로 받고, 안쪽 리스트 중 첫 리스트의 첫 원소와 마지막 리스트의
마지막 원소를 리턴하는 함수 P9를 작성하세요.

In [ ]:
def P9(nested_list: list) -> list:    
    ans_list = []
    ans_list.append(nested_list[0][0])
    ans_list.append(nested_list[1][-1])
    return ans_list

In [ ]:
P9([['km','miles','league'],['kg','pound','stone']])

['km', 'stone']

In [ ]:
P9([[0,1,2,3],[4,5,6]])

[0, 6]

In [ ]:
P9([[0,0,0],[1]])

[0, 1]

문제 10.
rat_1, rat_2는 두 마리의 rat의 무게를 열흘 간 매일 측정하여 기록해놓은 리스트이다. 두 리스트와
1과 10 사이의 숫자가 하나가 주어졌을 때, 해당 숫자에 해당하는 날에 1번 rat의 무게가 더
높았으면 True, 아니라면 False를 리턴하는 함수 P10을 작성하세요.

In [ ]:
def P10(rat_1: list, rat_2: list, measure_day: int) -> bool:  
    is_greater = 0  
    if rat_1[measure_day - 1] > rat_2[measure_day - 1]:
      is_greater = True
    elif rat_1[measure_day - 1] < rat_2[measure_day - 1]:
      is_greater = False
    return is_greater

In [ ]:
rat_1 = [5, 6, 7, 6, 7, 8, 10, 9, 8, 10]
rat_2 = [7, 8, 6, 7, 8, 10, 9, 8, 10, 11]

In [ ]:
P10(rat_1, rat_2, 1)

False

In [ ]:
P10(rat_1, rat_2, 5)

False

In [ ]:
P10(rat_1, rat_2, 3)

True