문제 1.
정수(int)로만 구성된 리스트를 변수(argument)로 받고, 그중 두 번 이상 반복되는 정수의 집합(set)을 리턴하는 함수를 작성하시오.

In [ ]:
def P1(lst: list) -> set:
    counts = []
    for element in lst:
        if lst.count(element) > 1:
          counts.append(element)
    set_counts = set(counts)

    return set_counts

In [ ]:
P1([1, 2, 3, 1])

{1}

In [ ]:
P1([1, 1, 2, 3, 3, 3])

{1, 3}

In [ ]:
P1([1, 2, 3, 4, 5])

set()

문제 2. 
길이가 같은 리스트 두 개를 변수(arguments)로 받고, 같은 인덱스를 갖는 원소끼리 짝지은 튜플(tuple)의 집합(set)을 리턴하는 함수를 작성하시오.

In [ ]:
def P2(lst1: list, lst2: list) -> set:
    output_list = []
    for i in range(len(lst1)):
        output_list.append((lst1[i], lst2[i]))
    output_set = set(output_list)

    return output_set

In [ ]:
P2(['red', 'yellow', 'purple'], ['apple', 'banana', 'grape'])

{('purple', 'grape'), ('red', 'apple'), ('yellow', 'banana')}

In [ ]:
P2([1, 2, 3], ['computer', 'keyboard', 'mouse'])

{(1, 'computer'), (2, 'keyboard'), (3, 'mouse')}

In [ ]:
P2([], [])

set()

문제 3. 
딕셔너리(dictionary)의 key는 unique함이 보장되지만, value는 그렇지 않다. 
하나의 딕셔너리를 변수(argument)로 받고, 그것에 포함된 “distinct values”의 수를 리턴하는 함수를 작성하시오.

In [ ]:
def P3(dct: dict) -> int:
    tmp_set = set(dct.values())
    output = len(tmp_set)
    return output

In [ ]:
P3({'red': 1, 'green': 1, 'blue': 2})

2

In [ ]:
P3({(1,2): 'a', 'g': 3, 1: True})

3

In [ ]:
P3(dict())

0

In [ ]:
P3({'a': True, 'b': True, 'c': True})

1

문제 4. 
일련의 실험을 수행한 후, 특정 다섯 종류의 아원자 입자(subatomic particles)를 탐지할 확률을 {str: float} 딕셔너리 형태로 다음과 같이 저장했다.
{'neutron': 0.55, ‘proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}
이러한 딕셔너리를 변수(argument)로 받아 탐지 가능성이 가장 큰 입자를 리턴하는 함수를 작성하시오.

In [ ]:
def P4(dct: dict) -> str:
    for k in dct:
      if dct[k] == max(dct.values()):
        output = k
    return output

In [ ]:
P4({'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14})

'neutron'

In [ ]:
P4({'neutron': 0.11, 'proton': 0.21, 'meson': 0.05, 'muon': 0.09, 'neutrino': 0.12})

'proton'

문제 5. 
딕셔너리를 변수(argument)로 받아 두 번 이상 나타나는 value를 리스트로 저장하여 리턴하는 함수를 작성하시오.

In [ ]:
def P5(dct: dict) -> list:
    value_list= list(dct.values())
    tmp_output = []
    for value in value_list:
      if value_list.count(value) > 1:
        tmp_output.append(value)
    output = list(set(tmp_output))

    return output

In [ ]:
P5({'red': 1, 'green': 1, 'blue': 2})

[1]

In [ ]:
P5({'r': 'a', 'g': 'b', 'b': 'c'})

[]

In [ ]:
P5({'a': True, 'b': True, 'c': 2, 'd': 2})

[True, 2]

In [ ]:
P5(dict())

[]

문제 6. 
두 개의 딕셔너리 dct1과 dct2를 변수(arguments)로 받아 dct1과 dct2에 공통으로 포함된 key/value 쌍으로만 만든 새로운 딕셔너리를 리턴하는 함수를 작성하시오.

In [ ]:
def P6(dct1: dict, dct2: dict) -> dict:
    ### Write code here ###
    output = {}
    for i in dct1:
      for j in dct2:
        if i == j:
          if dct1[i] == dct2[j]:
            output.update({i: dct1[i]})
    return output

    ### End of your code ###

In [ ]:
P6({'a': 1, 'b': True, 'c': [1,2]}, {'a': 1, 'b': 123, 'c': [1,2]})

{'a': 1, 'c': [1, 2]}

In [ ]:
P6({'a': 1, 'b': True }, {'c': 1, 'd': 123, 'e': [1,2]})

{}

In [ ]:
P6({}, {'c': 1, 'd': 123, 'e': [1,2]})

{}

문제 7. 
때때로 프로그래머들은 value가 딕셔너리로 이루어진 “Dictionary of dictionaries”를 간단한 데이터베이스로 이용한다. 
key가 문자열(string)이고 value가 딕셔너리 형태인 “Dictionary of dictionaries”를 다음과 같이 나타낼 수 있고, 이때 value는 “inner dictionary”라 한다.

“Dictionary of dictionaries”를 변수(argument)로 받아 “inner dictionaries”가 모두 같은 key 값을 가지면 1, 아니면 0을 리턴하는 함수를 작성하시오.

In [ ]:
def P7(dct: dict) -> int:
    ### Write code here ###
    key_list = []
    for record in dct:
      key_list.append(set(dct[record].keys()))

    output_list = []
    common_key = key_list[0]
    for i in range(len(key_list)):
      common_key = common_key.intersection(key_list[i])
      if key_list[i] != common_key:
        output_list.append(1)
      else : 
        output_list.append(0)

    if sum(output_list) > 0:
      output = 0
    else : 
      output = 1

    return output

    ### End of your code ###

In [ ]:
a = { 'jgoodall' : {'surname' : 'Goodall',
                'forename' : 'Jane',
                'born' : 1934,
                'died' : None,
                'notes' : 'primate researcher',
                'author' : ['In the Shadow of Man','The Chimpanzees of Gombe']},
    'rfranklin' : {'surname' : 'Franklin',
                'forename' : 'Rosalind',
                'born' : 1920,
                'died' : 1957,
                'notes' : 'contributed to discovery of DNA'},
    'rcarson' : {'surname' : 'Carson',
                'forename' : 'Rachel',
                'born' : 1907,
                'died' : 1964,
                'notes' : 'raised awareness of effects of DDT',
                'author' : ['Silent Spring'] }}

In [ ]:
P7(a)

0

In [ ]:
P7({'a': {'aa':123, 'ab': [1,2]}, 'b': {'aa': 'bb', 'ab': 'cc'}})

1

In [ ]:
P7({'A': {1: 'a', 2: 'b'}, 'B': {2: 'c', 3: 'd'}})

0

문제 8. 
“Balanced color”는 red, green, blue 값을 합해서 1.0이 되는 것을 의미한다. Key가 ‘R’, ‘G’, ‘B’이고 각각의 value가 0과 1 사이인 딕셔너리를 변수(arguments)로 받아서 그 딕셔너리가 “Balanced color”를 의미하면 True, 아니면 False를 리턴하는 함수를 작성하시오.

In [ ]:
def P8(dct: dict) -> bool:
    ### Write code here ###
    tmp = list(dct.values())
    if sum(tmp) == 1:
      output = True
    else :
      output = False
    return output
    ### End of your code ###

In [ ]:
P8({'R': 0.2, 'G': 0.3, 'B': 0.5})

True

In [ ]:
P8({'R': 0.2, 'G': 0.3, 'B': 0.6})

False

In [ ]:
P8({'R': 0.1, 'G': 0.1, 'B': 0.1})

False

문제 9. 
다음과 같이 대부분의 원소가 0으로 되어있는 벡터를 “Sparse vector”라 한다.

sparse_vector = [1, 0, 0, 0, 0, 0, 3, 0, 0, 0]

이때 벡터를 모든 0을 포함한 형태로 리스트에 저장하면 메모리가 낭비되기 때문에 딕셔너리를 이용하여 0이 아닌 원소만 나타내기도 한다. 위의 벡터는 딕셔너리를 사용하여 다음과 같이 나타낼 수 있다. 

sparse_vector[0] = 1, sparse_vector[6] = 3 을 딕셔너리로 표현한 것이다.

{0: 1, 6: 3}

두 벡터의 dot product는 corresponding elements의 products의 sum이다. 

예를 들어 [1, 2, 3]과 [4, 5, 6]의 dot product는 4 + 10 + 18 = 32 이다. 

두 “Sparse vectors”를 변수(arguments)로 받아 그들의 dot product를 계산하는 함수를 작성하시오.

In [ ]:
def P9(dct1: dict, dct2: dict) -> int: 
    ### Write code here ###
    common_key = []
    for i in dct1:
      for j in dct2:
        if i == j:
          common_key.append(i)
    
    product_list = []
    for key in common_key:
      pro_rst = dct1[key]*dct2[key]
      product_list.append(pro_rst)

    output = sum(product_list)
            
    return output
    ### End of your code ###

In [ ]:
P9({0:1, 6:3}, {0:2, 5:2, 6:2, 7:1})

8

In [ ]:
P9({0:1, 6:3}, {1:-1, 2:2, 3:2, 4:1})

0

In [ ]:
P9({0:1, 6:-3}, {0:-1, 6:3})

-10

문제 10. 
“Query word” 주어지면 character중 하나를 꼭 바꿔서 “Changed word”를 만들어야 한다.
단어 집합(set)과 “Query word”를 변수(arguments)로 받아서 “Changed word”가 단어 집합 내의 단어와 하나라도 일치하면 True, 하나도 일치하지 않으면 False를 리턴하는 함수를 작성하시오.

<조건>
1. 모든 단어는 소문자 알파벳으로만 구성되고 띄어쓰기는 없음
2. “Query word”의 character 단 하나만 바꿀 수 있음
3. character를 바꿀 때 삭제는 할 수 없음

In [ ]:
def P10(words: set, query_word: str) -> bool:
    ### Write code here ###
    output_list = []
    for word in words:
      if len(word) == len(query_word):
        diff_letr = []
        for i in range(len(word)):
          if word[i] != query_word[i]:
            diff_letr.append(i)

        if len(diff_letr) == 1:
          output_list.append(True)
        else : 
          output_list.append(False)

      else : 
        output_list.append(False)

    if sum(output_list) > 0:
      output = True
    else :
      output = False
        
    return output

    ### End of your code ###

In [ ]:
P10({"data", "science", "scienze"}, "dtaa")

False

In [ ]:
P10({"data", "science", "scienze"}, "scienae")

True

In [ ]:
P10({"data", "science", "scienze"}, "scienzz")

True

In [ ]:
P10({"data", "science"}, "scienzz")

False

In [ ]:
P10({"data", "science"}, "daaa")

True